@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

:root {
  --max-width: 1000px;
  --radius: 2px;
  --sans: 'IBM Plex Sans', sans-serif;
  --font-size: 21px;
  --brand: black;
  --href: blue;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
